@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* RESET */
a {text-decoration:none; color:inherit; -webkit-tap-highlight-color:transparent}
img {font-size:0; -webkit-tap-hightlight-color:transparent}
button {border:none; outline:none; background:none; padding:0; font-size:inherit; color:inherit; cursor:pointer; -webkit-tap-highlight-color:transparent;}
.sound-only{font-size:0; opacity:0;}

/* COLOR SETTING */
.bg--orange {background:#FF5F00}
.bg--yellow {background:#FEB700}
.bg--lemon {background:#FFDB4C;}
.bg-sky blue {background:#55ACEE}
.bg-blue{background:#0A73C3;}
.bg-green {background:#005F59 }

/* COMMON */
body {overflow:hidden; min-width:320px; font-family:'Noto Sans KR', sans-serif; font-size:18px; font-weight:500; line-height:1.2; letter-spacing:0.2px; background:#fff;}
.wrap {min-height:100vh; margin:0 auto;}
.container {position:relative; width:92%; margin:0 auto;}
.won::after {content:'원'; margin-left:.1em;}

/* TAB-BAR */
.tab-bar {position: fixed; bottom:0; width:100%; max-width:458px;background:linear-gradient(163.63deg, #00BDB2 11.35%, #C4E7B8 139.96%); z-index:9;}
.tab-bar ul {display:flex; justify-content: space-between; }
.tab-bar ul li {flex-grow:1; text-align:center;}
.tab-bar a {display:flex; justify-content:center; align-items:center; height:76px;}
.tab-bar a img{max-width:28%;}

/* MEDIA SCREEN */
@media screen and (min-width:460px){
  .wrap {max-width:460px;}
}