/* HOME */
.accout {position:relative; background:#EEECE5;}

/* HOME > TITLE */
.account__title {display:flex; justify-content:space-between; align-items:center; height:43px; padding-top:24px;}
.account__title > * {flex-grow: 1; flex-basis:0; align-items: center;}
.account__title .profile{height:100%}
.account__title .profile img {height:100%; border:1px solid #DCCDB6; border-radius:50%; box-sizing:border-box;}
.account__title h5.subtit{font-size:18px; text-align:center;}
.account__title .option {text-align:right}
.account__title .option li {display:inline-block;}
.account__title .option li + li {margin-left:16px;}
.account__title .option li a {display:block;}
.account__title .option li a img {width:24px;  vertical-align:middle;}

/* HOME > STATUS */
.account__status {display:flex; flex-direction:column; align-items: center; margin:30px auto; text-align:center}
.status__total {position:relative; width:80%; padding:20px 18px 8px; box-sizing:border-box; border-radius:12px; background:#fff; box-shadow: 0 0 16px rgba(226, 191, 66, .19);}
.status__total h5 {font-size:14px; color:#858585;}
.status__total .asset {display:block; padding:20px 0;}
.status__total .asset .price {font-size:24px; letter-spacing:2px; font-weight:700;}
.status__total .asset .price::after {font-size:14px;}
.status__total .button--tranfer {position:absolute; right:20px; top:18px; font-size:14px; font-weight:700}
.status__total .mygoal .chart {margin:0 auto; display:flex; align-items:flex-end; width:100%;}
.status__total .mygoal .chart .bar {flex-grow:8; height:6px; margin-left:6px; border-radius:3px; background:#ddd;}
.status__total .mygoal .chart .bar .status {position:relative; display:block; width:80%; height:100%; border-radius:3px; font-size:0;}
.status__total .mygoal .chart .bar .status::after {content:''; display:block; width:4px; height:17px; position:absolute; right:-4px; top:50%; transform:translate(100%, -50%);
  background:#FF5F00; border:1px solid #fff; border-radius:4px;}
.status__total .mygoal .chart .button-chart {flex-grow:.5; font-size:0; text-align:right;}
.status__total .mygoal .chart .button-chart img {width:14px; vertical-align: bottom;}
.status__total .mygoal p {margin-top:16px; font-size:14px; color:#858585;}

/* AD */
aside.ad {margin-top:30px; font-size:14px; text-align:center}
aside.ad a {display:inline-block}
aside.ad a b {text-decoration:underline;}

/* HOME > HISTORY */
.account__history {position:relative; width:100%; height:calc(100vh); padding:24px 30px 0; border-radius:30px 30px 0 0; box-sizing:border-box;
  box-shadow:0 -5px 14px rgba(0,0,0,.08);  transform:translateY(0); background:#F5F5F5; z-index:1;}
.history__saving {overflow:hidden; margin-bottom:20px;}
.history__saving .slider {display:flex; align-items:center;}
.history__saving .saving-box {overflow:hidden; position:relative; width:162px; padding:9px 14px; box-sizing:border-box; border-radius:6px; background:#dadada; font-size:12px; color:#fff;}
.history__saving .saving-box .status {position:absolute; left:0; top:0; display:block; width:0%; height:100%; }
.history__saving .saving-box strong {position:relative; margin:4px 0; font-weight:500;}
.history__saving .saving-box strong .tit {display:block; margin-bottom:6px;}
.history__saving .saving-box--creat {background:none; text-align:left}
.history__saving .saving-box--creat {color:#FF5F00;}
.history__saving .saving-box--creat .button--plus {display:inline-block; margin-right:4px; padding: 0.3em 0.6em; border-radius:50%; background:#FF5F00; color:#fff;}

.history__recent {overflow-y:auto; padding:0 2%; -ms-overflow-style: none; scrollbar-width: none;}
.history__recent::-webkit-scrollbar {width:0;}
.history__recent .day {margin-bottom:40px;}
.history__recent .day strong {display:block; font-size:14px; font-weight:700;}
.history__recent .day .price-status {float:right; color:#b4b4b4}
.history__recent .day ul {margin-top:6px;}
.history__recent .day ul li {padding:12px 0;border-bottom:1px solid #DCDCDC; font-size:18px; font-weight:300}
.history__recent .day ul li .price {float:right;}
.history__recent .day ul li .price--income{position:relative; color:#FF5F00}
.history__recent .day ul li .price--income::before {content:'+'; margin-right:.2em;}
.account__history .dragup {position:absolute; height:20px; top:0; left:0; width:100%; font-size:0; cursor:pointer}
.account__history .dragup::after {content:''; display:inline-block; position:absolute; top:4px; left:50%; transform:translateX(-50%); width:48px; height:3px; border-radius:4px; background:#c4c4c4; text-align:center}