@import "./_scaffolding.css";
@import "./_variables.css";

/* ACCOUNT */
.account {
  position: relative;
  overflow: hidden;
  background: var(--color-off-white);
}

/* ACCOUNT HEADER */
.account__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 43px;
  padding-top: 24px;
}
.account__header > * {
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
}
.account__header .profile {
  height: 100%;
}
.account__header .profile img {
  height: 100%;
  border: 1px solid var(--color-gray);
  border-radius: 50%;
  box-sizing: border-box;
}
.account__header h5.nickname {
  font-size: 18px;
  text-align: center;
}
.account__header .option {
  text-align: right;
}
.account__header .option li {
  display: inline-block;
}
.account__header .option li + li {
  margin-left: 16px;
}
.account__header .option li button {
  display: block;
}
.account__header .option li button img {
  width: 24px;
  vertical-align: middle;
}

/* ACCOUNT info */
.account__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  text-align: center;
}
.info__box {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 20px 18px;
  box-sizing: border-box;
  border-radius: 12px;
  background: var(--color-white);
  box-shadow: 0 0 16px rgb(226 191 66 / 19%);
}
.info__box h5 {
  font-size: 14px;
  color: #858585;
}

.info__box .balance {
  display: block;
  padding: 20px 0;
}
.info__box .balance .amount {
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 700;
}

.info__box .balance .amount::after {
  font-size: 14px;
}
.info__box .button--tranfer {
  position: absolute;
  right: 20px;
  top: 18px;
  font-size: 14px;
  font-weight: 700;
}
.info__box .consumption-goal .chart {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.info__box .consumption-goal .chart .bar {
  flex-grow: 8;
  height: 6px;
  margin-left: 6px;
  border-radius: 3px;
  background: #ddd;
}
.info__box .consumption-goal .chart .bar .status {
  position: relative;
  display: block;
  width: 0%;
  height: 100%;
  border-radius: 3px;
  font-size: 0;
  background: var(--color-lemon);
}
.info__box .consumption-goal .chart .bar .status::after {
  content: "";
  display: block;
  width: 4px;
  height: 17px;
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translate(100%, -50%);
  background: #ff5f00;
  border: 1px solid var(--color-white);
  border-radius: 4px;
}
.info__box .consumption-goal .chart .button-chart {
  flex-grow: 0.5;
  font-size: 0;
  text-align: right;
}
.info__box .consumption-goal .chart .button-chart img {
  width: 14px;
  vertical-align: bottom;
}
.info__box .consumption-goal p {
  margin-top: 16px;
  font-size: 14px;
  color: #858585;
}

/* AD */
.ad-banner {
  margin-bottom: 30px;
  font-size: 14px;
  text-align: center;
}

.ad-banner a {
  display: inline-block;
}

.ad-banner a b {
  text-decoration: underline;
}

/* ACCOUNT HISTORY */
.account__history {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 24px 30px 0;
  border-radius: 30px 30px 0 0;
  box-sizing: border-box;
  box-shadow: 0 -5px 14px rgb(0 0 0 / 8%);
  background: #f5f5f5;
  z-index: 1;
}
.history__saving {
  overflow: hidden;
  margin-bottom: 20px;
}
.history__saving .slider {
  display: flex;
  align-items: center;
}
.history__saving .saving-goal {
  overflow: hidden;
  position: relative;
  width: 162px;
  padding: 9px 14px;
  box-sizing: border-box;
  border-radius: 6px;
  background: var(--color-light-gray);
  font-size: 12px;
  color: var(--color-white);
}
.history__saving .saving-goal .status {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: var(--color-orange);
}
.history__saving .saving-goal strong {
  position: relative;
  margin: 4px 0;
  font-weight: 500;
}
.history__saving .saving-goal strong .tit {
  display: block;
  margin-bottom: 6px;
}
.history__saving .saving-goal--creat {
  background: none;
  text-align: left;
}
.history__saving .saving-goal--creat {
  color: var(--color-orange);
}
.history__saving .saving-goal--creat .button--plus {
  display: inline-block;
  margin-right: 4px;
  padding: 0.3em 0.6em;
  border-radius: 50%;
  background: var(--color-orange);
  color: var(--color-white);
}
.history__recent {
  overflow-y: auto;
  padding: 0 2%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.history__recent::-webkit-scrollbar {
  width: 0;
}
.history__recent .day {
  margin-bottom: 40px;
}
.history__recent .day.none {
  display: none;
}
.history__recent .day strong {
  display: block;
  font-size: 14px;
  font-weight: 700;
}
.history__recent .day .summary {
  float: right;
  color: #b4b4b4;
}
.history__recent .day ul {
  margin-top: 6px;
}
.history__recent .day ul li {
  padding: 12px 0;
  border-bottom: 1px solid var(--color-light-gray);
  font-size: 18px;
  font-weight: 300;
}
.history__recent .day ul li .price {
  float: right;
}
.history__recent .day ul li .price--income {
  position: relative;
  float: right;
  color: var(--color-orange);
}
.history__recent .day ul li .price--income::before {
  content: "+";
  margin-right: 0.2em;
}
.account__history .drag-area {
  position: absolute;
  height: 20px;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0;
  cursor: pointer;
}
.account__history .drag-area::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 48px;
  height: 3px;
  border-radius: 4px;
  background: #c4c4c4;
  text-align: center;
}
